svg{
    display: block;
    position: relative;
    color:white;
    top:-34em;
}
/* .content{
    top:25em;
    display: block;
    position: relative;
    left:2em;

} */

.content{
    top: 76em;
    display: block;
    position: relative;
    left: 2em;
    z-index: 99;
}

.selection-values{
    position: relative;
    display: block;
    top:-70em;
    left:1em;
}

.contact-values{
    position: relative;
    display: block;
    top:-71.7em;
    left:10em;
}

.totstand-values{
    position: relative;
    display: block;
    top:-73.3em;
    left:35em;
}

.resultaat-values{
    position: relative;
    display: block;
    top: -74.94em;
    left: 61.5em;
}
.text{
    color:white;
    position:relative;
    display:block;
    top:-55em;
}

.text > p{ 
    float:left;
    margin-left: 1em;

}
.totstand-txt{
    left:15em;
    position: relative;
    display: block;

}
.resultaat-txt{
    left: 29em;
    position: relative;
    display: block;
}

.domain, .tick line, .tick{
    stroke:white;
}

.highlight{
    background: #ff0000;
    position: relative;
    width: 23.5em;
    height: 2em;
    /* transform: translate(2.9em, -26em); */
    z-index: -1;
    transform: translateZ(-2px) translate(7.9em,-31em) scale(1.27);
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }

  .logo{
      width:10em;
  }