svg.bubble-plot {
    display: block;
    position: relative;
    color: black;
    top:-1.3em;
    left: 31em;
}

svg.bubble-plot2 {
    display: block;
    position: relative;
    color: black;
    left: 45em;
    top: -45.1em;


}

#my_dataviz {
    display: block;
    position: relative;
}



.content {
    display: block;
    position: relative;
    left: 2em;
}

.selection-values {
    position: relative;
    display: block;
    top: -98em;
}

.selection-values2 {
    position: relative;
    display: block;
    top: -104em;
    left: 56em
}

.contact-values {
    position: relative;
    display: block;
    top: -96em;
}

.contact-values2 {
    position: relative;
    display: block;
    top: -102em;
    left: 56em;
}

.totstand-values {
    position: relative;
    display: block;
    top: -90em;

}

.totstand-values2 {
    position: relative;
    display: block;
    top: -96em;
    left: 56em;

}

.resultaat-values {
    position: relative;
    display: block;
    top: -95em;
}

.resultaat-values2 {
    position: relative;
    display: block;
    top: -101em;
    left: 56em;

}

.text {
    color: white;
    position: relative;
    display: block;
    top: -55em;
}

.text>p {
    float: left;
    margin-left: 1em;

}

.totstand-txt {
    left: 15em;
    position: relative;
    display: block;

}

.resultaat-txt {
    left: 29em;
    position: relative;
    display: block;
}

.domain,
.tick line,
.tick {
    stroke: white;
}

.highlight {
    background: #ff0000;
    position: relative;
    width: 23.5em;
    height: 2em;
    /* transform: translate(2.9em, -26em); */
    z-index: -1;
    transform: translateZ(-2px) translate(7.9em, -31em) scale(1.27);
}

div.tooltip {
    position: absolute;
    text-align: center;
    width:auto;
    height: auto;
    padding: .9em;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.40);
    z-index: 99;
}

.logo {
    width: 10em;
}
.form1, .form2{
    top: -41em;
    left: -28em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    width: 16em;
}
.form2{
    left: 14em;
    position: relative;
    top: -71.5em;
    width: 16em;
}


#herkomst-radio,
#herkomst-radio2 {
    color: white;
    position: relative;
    font-size: 0.9em;
    left:1em;
    top: -40.8em;
    display: inline-block;

}

#herkomst-radio2 {
    left: 12em;
    top: -48.7em;
}

form h2 {
    font-size: .9em;
    padding:.5em;
    color: rgb(143, 143, 143);
}

span {
    font-weight: 800;
}

input[type="radio"]:checked+label {
    font-weight: 500;
    font-family: RubikBold;
    color: white;
    background: #af0a2e;
}

input {
    visibility: hidden;
}

label {
    cursor: pointer;
    padding: .3em;
    background: #3e3c3fab;
    margin: 0.34em;
    width: 16em;
    display: inline-block;
    padding: 0.5em;
    font-size: 1em;
    font-family: RobotoLight;
    border-radius: 0.3em;
    transition: 200ms ease;
    text-align: center;
    font-weight: 100;
}


label:hover {
    background: #683441;
}

.header {
    top: -3em;
    display: block;
    position: relative;
    left: -30em;
}


.totaltext{
    display: inline-block;
    position: relative;
    top: -81.4em;
}

.first, .second{
    color: white;
    font-size: 1.6em;
    text-align: center;
    position: absolute;
    left: -8em;
    top: -2em;


}

.second{
    left: 0.7em;
    top: -2em;
}

.vertrouwen{
    display: block;
    position: relative;
    top:10em;
}

.bear{
    display: block;
    position: relative;
    top: 38em;
}

span{
    font-family: RubikBold;

}
