
  
/* graph 3*/
@media (min-width: 768px) and (max-width: 1024px) {
    /* 
    svg.bubble-plot2,
    .selection-values2,
    .form2 {
        display: none;
    } */

}

@media (max-width: 755px) {

    svg.bubble-plot,
    .selection-values1,
    .form1 {
        display: none;
    }



    svg.bubble-plot2 {
        left: 49vw;
        width: 14em;
        top: -140vh;
    }


    .form2 form h2 {
        font-size: .9em;
    }

    .form2 form {
        left: 0vw;
        top: 9vh;
    }

    .form2 {
        top: -134.2vh;
    }

    .form2 form h2 {
        width: 47vw;
        top: 18.9vh !important;
        left: 8.7vw !important;
        margin-bottom: 0;
        padding: 1em;
    
    }

    #herkomst-radio2{
        top: -69.5em;
    }
    .form2 label {
        top: 19vh;
        margin: 0.2em;
        padding: 0.4em;
        left: 5vw;
        width: 12em;
    }

    .colorbuttons {
        top: 18vh;
    }

    .colorbuttons label {
        top: 3vh;
        left: -6.4vw;
        width: 2em;

    }

    .colorbuttons p {
        left: -12.1vw;

    }

    .graph3 {
        height: 190vh;
    }

    .discriptionvertrouwen {
        margin-left: -6vw;
        width: 90vw;
    }

    .nederlandtxt {
        top: -66vh;
        left: 20vw;
    }

    .nietnltext {
        top: -51.7em;
        left: 14vw;
    }

    .nietnltext p {
        right: -57vw;
        top: -17vh;
        font-size: 3.6em;
        margin-bottom: -11vh;
    }

    .bubble-plot {
        left: 100vw;
    }

    .form1 form h2 {
        font-size: .6em;
    }

    .form1 form {
        left: 0vw;
        top: 0vh;
    }

    .form1 form h2 {
        width: 19em;
        left: 10vw;

    }

    /* plot1 */
    /* p.txtbeoordeeld {
        left: 52vw;
        top: 47.2vh;
    } 
    p.textlaag {
        left: 52vw;
        top: 123.4vh;
    }*/

    p.txtbeoordeeld {
        top: -125.4vh;
        left: 0.2vw;
    }

    p.textlaag {
        top: -69.3vw;
        left: -0.5vw;    
    }


}



@media(min-width: 20em) and (max-width: 47em) {

    /* svg.bubble-plot2,
    .selection-values2,
    .form2 {
        display: none;
    } */

    .vertrouwen {
        top: 145.8vh;
        left: -29vw;
    }

    .discription1 {
        width: 90vw;
        left: 1vw;
    }

    .nederlandtxt h3 {
        top: -33vh;
        left: 44vw;
    }

    /* svg.bubble-plot {
        left: 100vw;
    } */

    /* .vertrouwen {
        top: -24.2vh;
        left: -29vw;

    } */


    .form1 form h2 {
        font-size: .9em;
        top: 9.9vh !important;
        left: 11vw !important;
    }

    .form1 {
        left: -10vw;
        top: 0vh;
    }

    .form1 form h2 {
        width: 19em;
        left: 0;
        top: 0;
        margin: auto;
    }

    .txtbeoordeeld {
        left: 52vw;
        top: 47.2vh;
    }

    .textlaag {
        left: 52vw;
        top: 123.4vh;
    }
}

@media(min-width: 1445px) {

    svg.bubble-plot{
        top:-3.2vh;
    }
    #my_dataviz{
        top:1vh;
    }
    .textlaag{

    }
    .txtbeoordeeld{
        top:-10vh;
    }
}
@media (min-width:1024px) {
    .vertrouwen {
        left: 1vw;
        top: 1vh;
    }

    .form2 {
        top: -144.4vh;
        left: 5vw;
    }

    #my_dataviz {
        left: 0vw;
    }

    svg.bubble-plot {
        top: 10vh;
    }

    p.txtbeoordeeld {
        top: 26.6vh;
        left: -3.6vw;
    }

    p.textlaag {
        top: 103vh;
        left: -3.2vw;
    }
}
