li{
    display: block;
    position: relative;
    float:left;
    padding-left:3em;
    text-align: center;
    color: white;
}

ul{
    position: relative;
    top:-3em;
    left:7em;
}
a{
    color:white;
    text-decoration: none;
    display: block;
}

a:hover{
    text-decoration: line-through;
}