body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background:darkslateblue;
}


h1{
    color:black;
    padding:.3em;
    margin:1em;
    width:20em;
    background:#fff33d;
    position: fixed;
}

.legenda{
    position: relative;
    display: block;
    width:10em;
    left:0;
}
svg{
    display: block;
    position: relative;
    color:white;
    top:-40em;
}

.horizonCircle{
    display: block;
    position: relative;
    top:20em;
}
.selectionValues{
    position: absolute;
    display: block;
    top:10em;
}
